In [45]:
#Libraries
import pandas as pd 
import tweepy

In [46]:
# function to display data of each tweet
# function to display data of each tweet 
def printtweetdata(n, ith_tweet): 
    print() 
    print(f"Tweet {n}:") 
    print(f"Username:{ith_tweet[0]}") 
    print(f"Description:{ith_tweet[1]}") 
    print(f"Location:{ith_tweet[2]}") 
    print(f"Following Count:{ith_tweet[3]}") 
    print(f"Follower Count:{ith_tweet[4]}") 
    print(f"Total Tweets:{ith_tweet[5]}") 
    print(f"Retweet Count:{ith_tweet[6]}") 
    print(f"Tweet Text:{ith_tweet[7]}") 
    print(f"Hashtags Used:{ith_tweet[8]}") 
  
  
# function to perform data extraction 
def scrape(words, date_since, numtweet): 
      
    # Creating DataFrame using pandas 
    db = pd.DataFrame(columns=['username', 'description', 'location', 'following', 
                               'followers', 'totaltweets', 'retweetcount', 'text', 'hashtags']) 
      
    # We are using .Cursor() to search through twitter for the required tweets. 
    # The number of tweets can be restricted using .items(number of tweets) 
    tweets = tweepy.Cursor(api.search, q=words, lang="en", 
                           since=date_since, tweet_mode='extended').items(numtweet) 
     
    # .Cursor() returns an iterable object. Each item in  
    # the iterator has various attributes that you can access to  
    # get information about each tweet 
    list_tweets = [tweet for tweet in tweets] 
      
    # Counter to maintain Tweet Count 
    i = 1  
      
    # we will iterate over each tweet in the list for extracting information about each tweet 
    for tweet in list_tweets: 
        username = tweet.user.screen_name 
        description = tweet.user.description 
        location = tweet.user.location 
        following = tweet.user.friends_count 
        followers = tweet.user.followers_count 
        totaltweets = tweet.user.statuses_count 
        retweetcount = tweet.retweet_count 
        hashtags = tweet.entities['hashtags'] 
          
        # Retweets can be distinguished by a retweeted_status attribute, 
        # in case it is an invalid reference, except block will be executed 
        try: 
            text = tweet.retweeted_status.full_text 
        except AttributeError: 
            text = tweet.full_text 
        hashtext = list() 
        for j in range(0, len(hashtags)): 
            hashtext.append(hashtags[j]['text']) 
          
        # Here we are appending all the extracted information in the DataFrame 
        ith_tweet = [username, description, location, following, 
                     followers, totaltweets, retweetcount, text, hashtext] 
        db.loc[len(db)] = ith_tweet 
          
        # Function call to print tweet data on screen 
        printtweetdata(i, ith_tweet) 
        i = i+1
    filename = 'scraped_tweets.csv'
      
    # we will save our database as a CSV file. 
    db.to_csv(filename) 
  
  
if __name__ == '__main__': 
      
    # Enter your own credentials obtained  
    # from your developer account 
    consumer_key = "ry9GMoJRUCdsHo89bkpVosu8T"
    consumer_secret = "y9Yy5X6RE3n6hEogGhVYCmGDKgDPhWuQB8sexc61xKH01Xv6MA"
    access_key = "1330861473481052162-NXO8xkGNxf0g6A7wbOjOfMPKZrfUvT"
    access_secret = "20Ye373RjvjjMfpbPHAW6kbwJURRbqRaQsnMYFBCrZpyw"
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
    auth.set_access_token(access_key, access_secret) 
    api = tweepy.API(auth,wait_on_rate_limit=True) 
      
    # Enter Hashtag and initial date 
    print("Enter Twitter HashTag to search for") 
    words = input() 
    print("Enter Date since The Tweets are required in yyyy-mm--dd") 
    date_since = input() 
      
    # number of tweets you want to extract in one run 
    numtweet = 52
    scrape(words, date_since, numtweet) 
    print('Scraping has completed!')

Enter Twitter HashTag to search for

 sport

Enter Date since The Tweets are required in yyyy-mm--dd

 2020-12-18

Tweet 1:
Username:DarraghBerry
Description:25, Deputy Editor with @DublinLive. Formerly of @JOEdotie, @WesternPeople and @LovinDublin. To Win Just Once💚❤️
Location:Dublin City, Ireland
Following Count:1933
Follower Count:932
Total Tweets:4902
Retweet Count:2
Tweet Text:It's not the first time these old foes have come to scraps... Watch below as @DarraghBerry and @alexdunnesf face off ahead of the All Ireland Final #DUBvMAYO @IrishMirror

https://t.co/zOtyhrlr6H
Hashtags Used:[]

Tweet 2:
Username:WalkerGrace
Description:
Location:
Following Count:357
Follower Count:104
Total Tweets:43633
Retweet Count:0
Tweet Text:Worldwide Sport Supply Free Shipping on $99  Orders https://t.co/nGyqUYjk9E #johnkelly
Hashtags Used:['johnkelly']

Tweet 3:
Username:StephenOsarenr1
Description:God's Tool On Earth
Political Sciencist🎓
An Intovert Who Just Want To Explore  🌏🌏
Born Sagittarius ♐
Chase Your Dreams 🏅🏅
Put God First 🙏
ManUtd Fan🛑
Location:New City, NY
Following Count:844
Follower Count:259
Total Tweets:64563
Retweet Count:22
Tweet Text:Jurgen Klopp has criticised Premier League clubs for voting against the use of five substitutes for a third time.

Read more: https://t.co/UWoRLQLqHZ

#bbcfootball #PL #LFC https://t.co/5xAUXmVX96
Hashtags Used:[]

Tweet 4:
Username:NExol94
Description:𝒮𝓊𝓃𝓁𝒾𝑔𝒽𝓉 𝓉𝒽𝒶𝓉 𝒻𝒾𝓁𝓉𝑒𝓇𝓈 𝓉𝒽𝓇𝑜𝓊𝑔𝒽 𝓉𝒽𝑒 𝓁𝑒𝒶𝓋𝑒𝓈 𝑜𝒻 𝓉𝓇𝑒𝑒𝓈. 𝓌𝑒 𝒶𝓇𝑒 𝑜𝓃𝑒 𝐸𝒪𝒳_𝐿
Location:
Following Count:192
Follower Count:22
Total Tweets:58419
Retweet Count:0
Tweet Text:Become that actor and we will sport you,we have your back take your step slowly but in smart way our beautiful prince 👑 you did so well today proud of you 👏 And I’m sorry for my English it’s not my first language 🙏
@gulfkanawut #GulfKanawut https://t.co/eOBJ7rfJ9F
Hashtags Used:['GulfKanawut']

Tweet 5:
Username:platini954
Description:🏁 I used to rob people and sell drugs. Proceed with caution. 1/3 of @ICU954 | #OddCast coming soon| Management: @soygatita11
Location:Ukraine
Following Count:3035
Follower Count:12312
Total Tweets:118967
Retweet Count:0
Tweet Text:Atlanta wilding wilding. That’s a different sport of wilding.
Hashtags Used:[]

Tweet 6:
Username:MessiGoat10l
Description:Lionel Messi, Sofia Carson and Sabrina Carpenter stan account 🔥🥰

Follow back mfs 😡👍
Location:On Messi's planet
Following Count:623
Follower Count:1287
Total Tweets:25102
Retweet Count:0
Tweet Text:@MessixFC10 @FootyThreads_ Yeah, I'll see what to do once Messi leaves this sport, atm I don't know anything
Hashtags Used:[]

Tweet 7:
Username:marco_agosto
Description:Fan of Pro wrestling, Comic Books, Good Music and Television
Location:The Mid West
Following Count:562
Follower Count:103
Total Tweets:5429
Retweet Count:0
Tweet Text:@EmpireReignsX So pure. One of the best pure athletes to ever wrestle. Pure of heart. She is the type of person you want in a locker room. A real leader. She uplifts and never tears people down. She is someone that has despite road blocks changed the sport for the better.
Hashtags Used:[]

Tweet 8:
Username:LRGKREG
Description:living
Location:Savannah,  Ga
Following Count:881
Follower Count:928
Total Tweets:70632
Retweet Count:157
Tweet Text:Randy Moss says he’s the best receiver in NFL history when it comes to dominating the sport and changing the game of football. Terrell Owens is second. Jerry Rice is third or fourth.

Moss: “I don’t live on statistics.” https://t.co/gxgVSTFtmu
Hashtags Used:[]

Tweet 9:
Username:martinboyd010
Description:
Location:Who's asking?
Following Count:647
Follower Count:615
Total Tweets:13999
Retweet Count:0
Tweet Text:@pgor303 @STEPHENREDPATH2 @ru5ty79 @davidbo43404076 Bit of sawdust and he’ll fine for the 2nd half if not the he’s no good to the rest of the boys... this whole ”oh look at me I’ve been kicked in the shin” doesn’t win you any friends in this sport
Hashtags Used:[]

Tweet 10:
Username:OpenStance
Description:Baseball fan, baseball player, @RedSox & @Rockies rooter, ballpark aficionado. Never worn a tie to a ball game. ⚾
Location:Denver, Colorado
Following Count:127
Follower Count:108
Total Tweets:17286
Retweet Count:13
Tweet Text:My reprint col: I never met Satchel Paige (who is now a "major leaguer"). But I knew Bill Veeck who knew Paige as well as anyone on the MLB side of the sport. When Paige died in '82, I called Veeck to "tell me about Satchel." Man, did he ever. Enjoy. https://t.co/hNQBAFRjmd
Hashtags Used:[]

Tweet 11:
Username:Minastool
Description:
Location:Amarillo Texas
Following Count:96
Follower Count:60
Total Tweets:8064
Retweet Count:0
Tweet Text:@RichardBacula @HuactemocRisen @bitchbi45 @momof3inpa @wigwam I live in Texas hunted many times with my grandparents parents and uncles. Grew up on a farm and ranch. Many coyotes mountain lions wolves bobcats around here. We used a rifle or a pistol every time and protected our animals and livestock. Don’t hunt for sport. That’s why...
Hashtags Used:[]

Tweet 12:
Username:The_Hermithood
Description:Call me Dorrie a #specialneeds individual that enjoys other's stories. 💜#epilepsy #autism #neuropathy 🎗️#Republican , Minecraft 4 Neurology #Survivor she/her
Location:Vampirina's Pocket
Following Count:1267
Follower Count:1180
Total Tweets:49007
Retweet Count:5
Tweet Text:NEW POST: Changing lives through Boccia - Dan Headley tells us about the inclusive sport that anyone can play https://t.co/lLr9LfDgGu
Hashtags Used:[]

Tweet 13:
Username:dudungCK
Description:follback
Location:indonesia
Following Count:754
Follower Count:323
Total Tweets:881
Retweet Count:0
Tweet Text:Lee County vs Westlake | High School Football 2020
Georgia High School Football (Live)
Watch Live Here: https://t.co/QNh3mxdPpC
Trojans
11-1
Lions
11-1
The Westlake (Atlanta, GA) varsity football team has a neutral playoff game vs. Lee County (Leesburg, GA) today @ 7p. https://t.co/eAT4U7MPSp
Hashtags Used:[]

Tweet 14:
Username:Woodywing
Description:I am a corporate IT Project Manager with a bag full of hobbies and a wonderful wife. Life is sweet.
Location:Warwick
Following Count:70
Follower Count:84
Total Tweets:5497
Retweet Count:0
Tweet Text:@AveryOfBirds @S_U_A_R @meljomur @andywightman On a desire to allow trans women to compete in female sport.  They absolutely did not do it based on science supporting that lowering T removes male advantage.
Hashtags Used:[]

Tweet 15:
Username:The_Hermithood
Description:Call me Dorrie a #specialneeds individual that enjoys other's stories. 💜#epilepsy #autism #neuropathy 🎗️#Republican , Minecraft 4 Neurology #Survivor she/her
Location:Vampirina's Pocket
Following Count:1267
Follower Count:1180
Total Tweets:49007
Retweet Count:9
Tweet Text:Opportunities for disabled young people to participate in sport can be limited. Boccia is a sport that anyone can participate in and Dan Headley from Boccia England tells us more about it and how young people can get involved.

https://t.co/0jvMXZMYIs https://t.co/gvnpQmblnn
Hashtags Used:[]

Tweet 16:
Username:USA___UK
Description:Love/Hate Relationship with MUFC
Location:Mount Pleasant, SC
Following Count:756
Follower Count:53
Total Tweets:3508
Retweet Count:0
Tweet Text:@bmadrid_11 @guardian_sport @DaveHytner I’m sure I read somewhere that the goalkeeper of the year didn’t make the world XI of the year.
Hashtags Used:[]

Tweet 17:
Username:cokey900
Description:Harrisburg High School Football WRs Coach
Location:Pennsylvania, USA
Following Count:188
Follower Count:80
Total Tweets:339
Retweet Count:2
Tweet Text:The Harrisburg cougars are an opportunity factory. This has to be one of the top inner city football programs in the country. As a Reading High Red Knight, I salute you and your program. Wish you nothing but continued success. Changing lives through the sport of football! https://t.co/yYdAKiQBLq
Hashtags Used:[]

Tweet 18:
Username:gr8musicvenues
Description:#Promo #Venues #Events, #Bands & Fans - RTs are NOT endorsements - Confirm with Venues/Artist Status of events.
#FB #Bandstanduk +   #Soundcloud #Myspace
Location:Florida, USA
Following Count:7910
Follower Count:15384
Total Tweets:763451
Retweet Count:4
Tweet Text:Great weekend line up of Gigs in Mike the Pies. @Briandeady tonight, @bulletgirlband and @tvpeople_band tomorrow and @Ham_Sandwich Sunday night. 8pm starts. Thanks to Department of Tourism, Culture, Arts, Gaeltacht, Sport and Media for the support. @DeptCulturelRL @LiveVenueIre https://t.co/PuwoCCysG1
Hashtags Used:[]

Tweet 19:
Username:juj_marii
Description:Δεν μπορώ να ζήσω μαζί σου ή χωρίς εσένα  ...         .           🌉🛴🚲🏗️🥛
                        「  she/her  」      💗    .eu desenho as vezes.
Location:
Following Count:246
Follower Count:133
Total Tweets:8448
Retweet Count:35
Tweet Text:haikyuu really has me crying over a sport i dont even play man what the fuck
Hashtags Used:[]

Tweet 20:
Username:giolla_nic
Description:“They've finally found the best smokescreen for their chauvinism - women” Mrs. America
Location:Scotland
Following Count:1661
Follower Count:1316
Total Tweets:48879
Retweet Count:0
Tweet Text:@Chr1stinaG @Colmogorman Gay marriage doesn’t impinge upon anyone’s rights. However, trans rights do. Women’s sport, shelters, prisons etc.
Hashtags Used:[]

Tweet 21:
Username:tommymckay2
Description:32 love my family & dundee united and kicks a football for Partick Thistle Amputees, Scotlands only amputee team
Location:monifieth
Following Count:2371
Follower Count:849
Total Tweets:4491
Retweet Count:0
Tweet Text:@pieandbov Am I right in thinking Scottish premiership teams r the only teams/sport that has to repay the loan everything else is a grant?
Hashtags Used:[]

Tweet 22:
Username:The_Hermithood
Description:Call me Dorrie a #specialneeds individual that enjoys other's stories. 💜#epilepsy #autism #neuropathy 🎗️#Republican , Minecraft 4 Neurology #Survivor she/her
Location:Vampirina's Pocket
Following Count:1267
Follower Count:1180
Total Tweets:49007
Retweet Count:4
Tweet Text:Opportunities for disabled young people to participate in sport can be limited. Boccia is a sport that anyone can participate in and Dan Headley from Boccia England tells us more about it and how young people can get involved. https://t.co/0jvMXZMYIs https://t.co/IVGThFMKQa
Hashtags Used:[]

Tweet 23:
Username:38Oyin
Description:jus out here vibin tbh
Location:
Following Count:197
Follower Count:124
Total Tweets:9387
Retweet Count:17
Tweet Text:Arteta: “I have experienced things in a year that in a normal job you would experience in 10 or 8.”

https://t.co/XEInqiKCgp
Hashtags Used:[]

Tweet 24:
Username:PlcChristophe
Description:I take photos (in Thailand)- ผมสามารถถ่ายรูปคุณได้- I post it here and on Instagram, Pinterest and Flickr - Google : christophe.plc - ผมอาศัยที่ชลบุรี
Location:พัทยา ชลบุริ
Following Count:21
Follower Count:6
Total Tweets:58
Retweet Count:0
Tweet Text:Ambassador of sport and health in Thailand, Tuaaey pleases her admirers and followers by participating in the Pattaya Beach Race in October (#Bikinibeachrace2020). IG: @aeyanus  #Thailand #thailandgirls #sport #thaimodel #pattaya #Beach #thaimodel https://t.co/xz21M8dIo9
Hashtags Used:['Bikinibeachrace2020', 'Thailand', 'thailandgirls', 'sport', 'thaimodel', 'pattaya', 'Beach', 'thaimodel']

Tweet 25:
Username:mudzakir_usman
Description:Pecinta Ilmu Batu dan alam, Geologist, Interista, traveller, mountain and football lover.
Location:Serpong, Indonesia
Following Count:302
Follower Count:57
Total Tweets:1926
Retweet Count:834
Tweet Text:Congratulations, @teamkhabib!

The UFC fighter has been voted World Sport Star for 2020 at BBC Sports Personality of the Year.

#SPOTY
Hashtags Used:[]

Tweet 26:
Username:LeadahorseOrr
Description:"You can lead a horse to water, but a pencil must be lead"
Location:
Following Count:771
Follower Count:92
Total Tweets:3310
Retweet Count:0
Tweet Text:@gordon_struth @_DylanHamilton_ But very hard to articulate in a tweet. Grey areas =sport fairness, the bill Andy resigned over being threatened with investigation for voting for etc...
Hashtags Used:[]

Tweet 27:
Username:WhyTheBias_
Description:Twitter is a feeding frenzy for unhinged journalists.
Location:
Following Count:1324
Follower Count:37
Total Tweets:4412
Retweet Count:0
Tweet Text:@danroan @BBCNews @graystoneASA Go woke get NO gold medals.

Lefties ruin sport chapter 6.
Hashtags Used:[]

Tweet 28:
Username:LivEchoLFC
Description:Liverpool FC news from the Liverpool ECHO.
We're also on Facebook: https://t.co/h4qRkhNjqr…
And on YouTube: https://t.co/fVfwEBQOfo
Location:Liverpool
Following Count:601
Follower Count:734443
Total Tweets:341300
Retweet Count:0
Tweet Text:Jose Mourinho fires another dig at Liverpool boss Jurgen Klopp over FIFA Best Manager award

https://t.co/wNxrSJMJ8I
Hashtags Used:[]

Tweet 29:
Username:aleeeyu_musa
Description:seeking for knowledge at any situation and at any where
Location:Kaduna, Nigeria
Following Count:121
Follower Count:18
Total Tweets:66
Retweet Count:4
Tweet Text:Didn't seem to be too many agreeing with Jose there...

https://t.co/hHnr6roYQQ
Hashtags Used:[]

Tweet 30:
Username:jerryjn260
Description:I’m a God fearing man, a happy father and grandfather, animal lover, dogs 🐕 are my favorite, love traveling 🧳, hiking , reading 📖.
Location:Riverside, CA
Following Count:15
Follower Count:17
Total Tweets:207
Retweet Count:5
Tweet Text:A decade after his attempt at a comeback, Ian Thorpe has opened up on his mental health battle and revealed the real reason why he quit swimming.
https://t.co/ETQ2FYXbRF
Hashtags Used:[]

Tweet 31:
Username:MARKCITRINE
Description:Husband to Joann, father to Josef and Lydia. Honesty is everything. Views are my own (obviously) and re tweets are not endorsement.
Location:Southport, England
Following Count:382
Follower Count:93
Total Tweets:460
Retweet Count:0
Tweet Text:My 2020 Year in Sport https://t.co/BW72wwM8T3
Hashtags Used:[]

Tweet 32:
Username:PNELive
Description:All the latest Preston North End news & match day coverage from @LiveLancs ⚪️ #pnefc
Location:Preston
Following Count:31
Follower Count:1007
Total Tweets:2998
Retweet Count:0
Tweet Text:They weren't impressed... 👀 #pnefc
https://t.co/Wi1UY3rm4P
Hashtags Used:['pnefc']

Tweet 33:
Username:aleeeyu_musa
Description:seeking for knowledge at any situation and at any where
Location:Kaduna, Nigeria
Following Count:121
Follower Count:18
Total Tweets:66
Retweet Count:4
Tweet Text:It was classic Mourinho..

https://t.co/SRTGT1OXZ5
Hashtags Used:[]

Tweet 34:
Username:gazcross07
Description:ex pro cricketer. now looking forward to the future and enjoying the people in it.
Location:manchester
Following Count:436
Follower Count:3534
Total Tweets:7580
Retweet Count:0
Tweet Text:Is cricket the only sport in the world where people think it was better in there day??? All sports and players have progressed in all aspects. It’s great to see and long may in continue
Hashtags Used:[]

Tweet 35:
Username:toumanrevengers
Description:he/him | 17 | 🇦🇺 | not spoiler free
Location:
Following Count:1221
Follower Count:826
Total Tweets:2822
Retweet Count:0
Tweet Text:Oh? You listen to Cub Sport, King Gnu or Survive Said the Prophet? https://t.co/Fn0hSyLbpQ
Hashtags Used:[]

Tweet 36:
Username:kansaskim88
Description:Just me #NascarStrong I am a #BradBeliever #2crew 🔞#RockChalk #4everRoyal 💙 #ChiefsKingdom Iowa girl in a Kansas Cow Town #JusticeForJoey 💚 #BackTheBlue
Location:KCK Iowa raised 🌽
Following Count:2670
Follower Count:3210
Total Tweets:214335
Retweet Count:59
Tweet Text:Calling all @MillerLite #CarbDay fans!

We're giving you a chance to sport your Carb Day gear all winter long by gifting 10 people a winter scarf and koozie from Miller Lite! #TisMillertime

RT using #IMSHoliday to enter!

RULES: https://t.co/YB0anMGfg1 https://t.co/Eg197Y5JHX
Hashtags Used:['CarbDay']

Tweet 37:
Username:librariesval
Description:FKA @ALALibraryVal Proud Info Pro! 2017 #DPLAfest Award.
Libraries And #COVID19 Thread: https://t.co/1QcO7fdfeC
Follow @skilltype https://t.co/L23d8VTiOQ
Location:Heartland of America
Following Count:4991
Follower Count:3450
Total Tweets:228326
Retweet Count:14
Tweet Text:We are proud to introduce our new series, RACE AND SPORTS! Edited by Gerald L. Smith and Derrick E. White, this series will publish works that explore the intersections of sports and racial and ethnic histories and open a new analysis of American sport and culture. https://t.co/zrE9giPpas
Hashtags Used:[]

Tweet 38:
Username:LaurieR35067295
Description:Are we having fun yet?
Location:
Following Count:205
Follower Count:14
Total Tweets:143
Retweet Count:0
Tweet Text:@sackatchawen @Oprah Easy. Hayley Wickenheiser.  Pioneer for women in sport and a doctor on the covid frontlines.
Hashtags Used:[]

Tweet 39:
Username:MessixFC10
Description:🇲🇽| Here To Support The Greatest To Ever Grace The Game..... Lionel Andrés Messi🐐
Location:
Following Count:107
Follower Count:146
Total Tweets:5810
Retweet Count:0
Tweet Text:@MessiGoat10l @FootyThreads_ You gotta find another source of happiness from it aside from Messi. And I mean I get ya, I’m in the US, but this sport is too good to not watch
Hashtags Used:[]

Tweet 40:
Username:TheNasher61
Description:Hockey YouTuber | BAUER Athlete | https://t.co/ebtXDZIo1b | @NHL Esports Commentator | Business: @upnorthmg
Location:andrew@nasher.gg
Following Count:695
Follower Count:39670
Total Tweets:20660
Retweet Count:1
Tweet Text:Thank you to everyone that sent in their questions for this week's AMA!

Thank you also to @TheNasher61 for diving in and sharing about his life as a YouTuber and ambassador of the sport. Check out his responses in this video!

Click the link ⬇️

https://t.co/ox3v02Y0hl https://t.co/agMg6WIcMO
Hashtags Used:[]

Tweet 41:
Username:SunManUtd
Description:Follow all the latest news on Man United from @TheSunFootball @SunSport
Location:
Following Count:5
Follower Count:53060
Total Tweets:23800
Retweet Count:1
Tweet Text:Amad Diallo set to fly and seal £37m Man Utd transfer from Atalanta next month after finally sealing work permit https://t.co/7funESqlZw
Hashtags Used:[]

Tweet 42:
Username:heathmmills
Description:CE of the NZ Cricket Players Association representing current and past first class cricketers
Location:Auckland, NZ
Following Count:1066
Follower Count:3442
Total Tweets:4889
Retweet Count:5
Tweet Text:👇 This is a significant case across sports...“It is also an important message to sports federations that they should work in partnership with stakeholders, especially the athletes, to develop the rules and sport itself” @EUAthletes https://t.co/clbLZmPqKq
Hashtags Used:[]

Tweet 43:
Username:SunManUtd
Description:Follow all the latest news on Man United from @TheSunFootball @SunSport
Location:
Following Count:5
Follower Count:53060
Total Tweets:23800
Retweet Count:0
Tweet Text:Leeds legend Danny Mills refused to take kids to watch games against rivals Man Utd as atmosphere was so ‘vile’ https://t.co/yFSR4PBG3c
Hashtags Used:[]

Tweet 44:
Username:TowsonFHCoachJ
Description:🐅🏑🖤💛 Mama Bear. Shenanigan enthusiast. Embarrassingly behind on emails. Views expressed are my own. Coaches Council Member ❤️💜🧡 @WeCOACH
Location:Baltimore, MD
Following Count:2603
Follower Count:551
Total Tweets:2010
Retweet Count:0
Tweet Text:@jenfrytalks @TheAthletic This is me to @TheAthletic
Do better.
What say you @TuckerCenter @DrSportPsych @TFCoachCarlson ?!?
Here we are, in the year 2020, and a major sports media outlet only identifies ONE moment in women’s sport to celebrate?!?!?
Get real y’all.
This gets really old, people. https://t.co/Yfpui2qHE1
Hashtags Used:[]

Tweet 45:
Username:iman_mth
Description:21 | German | Moroccan | Pharmacy Student 🎓
Location:Germany
Following Count:101
Follower Count:307
Total Tweets:134858
Retweet Count:26
Tweet Text:Think some men genuinely feel threatened when women talk about ball simply because they don’t want to find out they have better ball knowledge than them or they actually know what they’re talking about. Can’t call yourself a fan of the sport if you pick and choose who can enjoy
Hashtags Used:[]

Tweet 46:

In [47]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

df = pd.read_csv('scraped_tweets.csv')
# Affichage de la taille du dataset (n_lignes and n_colonnes)
print("shape ", df.shape)
df.head()
df_1= pd.read_csv('scraped_tweets1.csv')
# Affichage de la taille du dataset (n_lignes and n_colonnes)
print("shape ", df_1.shape)
df_1.head()
df_2 = pd.read_csv('scraped_tweets2.csv')
# Affichage de la taille du dataset (n_lignes and n_colonnes)
print("shape ", df_2.shape)
df_2.head()
df_3= pd.read_csv('scraped_tweets3.csv')
# Affichage de la taille du dataset (n_lignes and n_colonnes)
print("shape ", df_3.shape)
df_3.head()

df_4= pd.read_csv('scraped_tweets1.csv')
# Affichage de la taille du dataset (n_lignes and n_colonnes)
print("shape ", df_4.shape)
df_4.head()
df_5= pd.read_csv('scraped_tweets1.csv')
# Affichage de la taille du dataset (n_lignes and n_colonnes)
print("shape ", df_5.shape)
df_5.head()
df_6= pd.read_csv('scraped_tweets6.csv')
# Affichage de la taille du dataset (n_lignes and n_colonnes)
print("shape ", df_6.shape)
df_6.head()

shape  (52, 10)
shape  (2000, 10)
shape  (911, 10)
shape  (1500, 10)
shape  (2000, 10)
shape  (2000, 10)
shape  (2985, 10)

,Unnamed: 0,username,description,location,following,followers,totaltweets,retweetcount,text,hashtags
0,0,DatGladiatah,NaN,NaN,134,14,2226,0,@TulsiGabbard the biological essentialism of T...,[]
1,1,EliHayes_,ECU Alumnus 🏴‍☠️ | 910,"North Carolina, USA",84,76,4239,1,mighty funny how nobody in black sports media ...,[]
2,2,braincelltwo,Taking it well,Art by @sloppjockey,988,4496,54644,0,Tht time I was put in a gc full of barstool sp...,[]
3,3,WuanChill,#MCFC #FlyEaglesFly. This is a Anthony Martial...,NaN,279,137,17911,1,mighty funny how nobody in black sports media ...,[]
4,4,schweitz_ay,This guy gets it,NaN,425,57,1027,0,@DanSoder @katienolan that Andre AD read made ...,['sports']

In [48]:
#Jusq'au la on a reussi a collecter deux datasets,Je vais les concatiner et l'enregister dans un seul fichier CSV
df_final=pd.concat([df, df_1,df_2,df_3,df_4,df_5,df_6], ignore_index=True)
print(df_final.shape) 
df_final.head()

(11448, 10)

,Unnamed: 0,username,description,location,following,followers,totaltweets,retweetcount,text,hashtags
0,0,DarraghBerry,"25, Deputy Editor with @DublinLive. Formerly o...","Dublin City, Ireland",1933,932,4902,2,It's not the first time these old foes have co...,[]
1,1,WalkerGrace,NaN,NaN,357,104,43633,0,Worldwide Sport Supply Free Shipping on $99 O...,['johnkelly']
2,2,StephenOsarenr1,God's Tool On Earth \nPolitical Sciencist🎓\nAn...,"New City, NY",844,259,64563,22,Jurgen Klopp has criticised Premier League clu...,[]
3,3,NExol94,𝒮𝓊𝓃𝓁𝒾𝑔𝒽𝓉 𝓉𝒽𝒶𝓉 𝒻𝒾𝓁𝓉𝑒𝓇𝓈 𝓉𝒽𝓇𝑜𝓊𝑔𝒽 𝓉𝒽𝑒 𝓁𝑒𝒶𝓋𝑒𝓈 𝑜𝒻 𝓉𝓇...,NaN,192,22,58419,0,"Become that actor and we will sport you,we hav...",['GulfKanawut']
4,4,platini954,🏁 I used to rob people and sell drugs. Proceed...,Ukraine,3035,12312,118967,0,Atlanta wilding wilding. That’s a different sp...,[]

In [49]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11448 entries, 0 to 11447
Data columns (total 10 columns):
Unnamed: 0      11448 non-null int64
username        11448 non-null object
description     10325 non-null object
location        7955 non-null object
following       11448 non-null int64
followers       11448 non-null int64
totaltweets     11448 non-null int64
retweetcount    11448 non-null int64
text            11448 non-null object
hashtags        11448 non-null object
dtypes: int64(5), object(5)
memory usage: 894.5+ KB

In [50]:
to_drop = ['Unnamed: 0', 'username', 'description', 'location', 'following', 'followers', 'totaltweets', 'retweetcount', 'hashtags']
#Eliminer les colonnes dans la liste de to_drop du dataframe df 
df_final.drop(to_drop, inplace=True, axis=1)
#Afficherle résultat 
df_final.head(10)

                                                text
0  It's not the first time these old foes have co...
1  Worldwide Sport Supply Free Shipping on $99  O...
2  Jurgen Klopp has criticised Premier League clu...
3  Become that actor and we will sport you,we hav...
4  Atlanta wilding wilding. That’s a different sp...
5  @MessixFC10 @FootyThreads_ Yeah, I'll see what...
6  @EmpireReignsX So pure. One of the best pure a...
7  Randy Moss says he’s the best receiver in NFL ...
8  @pgor303 @STEPHENREDPATH2 @ru5ty79 @davidbo434...
9  My reprint col: I never met Satchel Paige (who...

In [51]:
import nltk
import numpy as np
import warnings 
def standardize_text(df, text_field):
    df_final[text_field] = df_final[text_field].str.replace(r"http\S+", "")
    df_final[text_field] = df_final[text_field].str.replace(r"http", "")
    df_final[text_field] = df_final[text_field].str.replace(r"@\S+", "")
    df_final[text_field] = df_final[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")
    df_final[text_field] = df_final[text_field].str.replace(r"@", "at")
    df_final[text_field] = df_final[text_field].str.lower()
    return df_final

questions = standardize_text(df_final, "text")
questions['text']= questions['text'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
questions.head()

                                                text
0  it's first time these foes have come scraps wa...
1  worldwide sport supply free shipping orders jo...
2  jurgen klopp criticised premier league clubs v...
3  become that actor will sport you,we have your ...
4  atlanta wilding wilding that different sport w...

In [52]:
questions.head()

                                                text
0  it's first time these foes have come scraps wa...
1  worldwide sport supply free shipping orders jo...
2  jurgen klopp criticised premier league clubs v...
3  become that actor will sport you,we have your ...
4  atlanta wilding wilding that different sport w...

In [53]:
questions.to_csv("clean_data.csv")
questions.head()

                                                text
0  it's first time these foes have come scraps wa...
1  worldwide sport supply free shipping orders jo...
2  jurgen klopp criticised premier league clubs v...
3  become that actor will sport you,we have your ...
4  atlanta wilding wilding that different sport w...

In [54]:
import nltk 
nltk.download('stopwords' )

[nltk_data] Downloading package stopwords to /home/ubunto/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [55]:
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
print(stop_words)

{'own', 'the', 'its', 'for', 'of', 'that', "mustn't", 'him', 'but', 'now', 'a', "needn't", 'how', 'into', 'having', 'too', 'aren', 'isn', 'why', 'don', 's', "mightn't", 'has', 'yourselves', "didn't", 'themselves', 'because', 'from', 'here', 're', 'it', 'been', "won't", 'theirs', 'i', 'ma', 'before', 'she', 'itself', 'do', 'then', "she's", 'myself', 'about', 'you', 'mustn', 'won', 'as', 'mightn', 'so', "wasn't", 'what', 'same', 'them', "shan't", 'most', 'than', 'shouldn', 'by', 'and', 'below', 'those', "don't", "you'll", 'd', 'there', "it's", 'your', 'in', 'am', 'at', 'after', 'again', 'me', "couldn't", 'shan', 'this', 'haven', 'during', 'll', 'ourselves', "wouldn't", 'yours', 'over', 'wouldn', 'whom', 'our', 'under', 'once', 'down', 'were', 'himself', 'further', "you'd", 'when', 'other', 'weren', 'can', 'wasn', 'which', 'only', 'these', 'between', 'have', 'her', "aren't", 'through', 'their', "weren't", 'o', 'didn', 'hasn', 'hers', 'up', 'very', 'did', 'some', 'y', 'we', 'are', 'herself', "you're", 'out', "you've", "that'll", 'few', 've', 'until', 'or', 'where', 'each', 'm', 'to', 'is', 'with', 'hadn', "hadn't", 'my', 'being', "should've", 'all', 'be', 't', 'ain', "isn't", 'yourself', "doesn't", 'was', 'doing', 'will', 'doesn', 'he', "shouldn't", 'if', 'above', 'had', 'while', 'such', 'on', 'no', 'any', 'needn', 'more', 'should', 'couldn', 'nor', 'his', 'an', 'against', 'off', 'not', 'who', "haven't", "hasn't", 'just', 'both', 'does', 'they', 'ours'}

In [56]:
clean_questions = pd.read_csv('clean_data.csv')
# Affichage de la taille du dataset (n_lignes and n_colonnes)
print("shape ", clean_questions.shape)
clean_questions.head()

shape  (11448, 2)

   Unnamed: 0                                               text
0           0  it's first time these foes have come scraps wa...
1           1  worldwide sport supply free shipping orders jo...
2           2  jurgen klopp criticised premier league clubs v...
3           3  become that actor will sport you,we have your ...
4           4  atlanta wilding wilding that different sport w...

In [57]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')
clean_questions["text"].dropna(inplace=True)
clean_questions["tokens"] = clean_questions["text"].apply(tokenizer.tokenize)
clean_questions.head()

,Unnamed: 0,text,tokens
0,0,it's first time these foes have come scraps wa...,"[it, s, first, time, these, foes, have, come, ..."
1,1,worldwide sport supply free shipping orders jo...,"[worldwide, sport, supply, free, shipping, ord..."
2,2,jurgen klopp criticised premier league clubs v...,"[jurgen, klopp, criticised, premier, league, c..."
3,3,"become that actor will sport you,we have your ...","[become, that, actor, will, sport, you, we, ha..."
4,4,atlanta wilding wilding that different sport w...,"[atlanta, wilding, wilding, that, different, s..."

In [58]:
clean_questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11448 entries, 0 to 11447
Data columns (total 3 columns):
Unnamed: 0    11448 non-null int64
text          11441 non-null object
tokens        11441 non-null object
dtypes: int64(1), object(2)
memory usage: 268.4+ KB

In [60]:
from nltk.stem.porter import *
stemmer = PorterStemmer()

clean_questions["tokens"]=clean_questions["tokens"].dropna().apply(lambda x: [stemmer.stem(i) for i in x]) # stemming
clean_questions.head()

,Unnamed: 0,text,tokens
0,0,it's first time these foes have come scraps wa...,"[it, s, first, time, these, foe, have, come, s..."
1,1,worldwide sport supply free shipping orders jo...,"[worldwid, sport, suppli, free, ship, order, j..."
2,2,jurgen klopp criticised premier league clubs v...,"[jurgen, klopp, critici, premier, leagu, club,..."
3,3,"become that actor will sport you,we have your ...","[becom, that, actor, will, sport, you, we, hav..."
4,4,atlanta wilding wilding that different sport w...,"[atlanta, wild, wild, that, differ, sport, wild]"